<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- API 연결을 위한 인터넷 사용 권한 추가 1 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ui.home.api.WeatherApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guru16Application"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.food.FoodNextActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.clothing.Editor.ClothAddActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
         API 연결을 위한 인터넷 사용 권한 추가 ↑ 2
        android:name="" 추가
        -->
        <activity
            android:name=".ui.ImgShowActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".member.Mypage"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.clothing.ClothNextActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".member.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".member.LoginActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".member.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="3be8de2a9106c8781fdc73e678035c83" />
    </application>

</manifest>